network:
  version: 2
  renderer: networkd
  ethernets:
    {{ ansible_default_ipv4.alias }}:
      dhcp4: false
      dhcp6: false

      addresses:
      - {{ ansible_default_ipv4.address }}/{{ ansible_default_ipv4.prefix }}
      routes:
      - to: default
        via: {{ ansible_default_ipv4.gateway }}
      nameservers:
        addresses: [network_ipv4_dns.servers]
        search: {{ network_ipv4_dns.search }}