%domain\ admins ALL=(ALL) NOPASSWD:ALL
%RED\\domain\ admins ALL=(ALL)	NOPASSWD:ALL
%domain\ admins@red.aratner.ru ALL=(ALL) NOPASSWD:ALL

%sudo_{{ ansible_hostname }}_all ALL=(ALL) NOPASSWD:ALL
%RED\\sudo_{{ ansible_hostname }}_all@red.aratner.ru ALL=(ALL) NOPASSWD:ALL
%sudo_{{ ansible_hostname }}_all@red.aratner.ru ALL=(ALL) NOPASSWD:ALL
